h6 {
    color: white;
    display: block;
    position: absolute;
    right: 15px;
    top: 1rem;
}
.btn-primary {
    background-color: rgba(0, 0, 255, 0.78);
    margin-left: 1em;
}
.card {
    text-align: center;
    margin: 2em 0px;
}
.w-icon {
    width: 5rem;
    height: 5rem;
    margin-left: 6em;
}