h6 {
    color: white;
    display: block;
    position: absolute;
    right: 15px;
    top: -0.2em;
}
.btn-primary {
    background-color: rgba(0, 0, 255, 0.78);
    margin-left: 1em;
}
.inputSubmit {
    background-color: rgba(0, 0, 255, 0.78);
}
/*.card-header {*/
/*    margin-left: 4em;*/
/*}*/
.temp {
    list-style-type: none;
}
.weather-item {
    list-style-type: none;
}
.w-icon {
    width: 50%;
    height: 50%;
}
input#current-city.form-control {
    margin-right: 20em;
}




/*.card {*/
/*    text-align: center;*/
/*    margin: 2em 0px;*/
/*}*/
/*.w-icon {*/
/*    width: 5rem;*/
/*    height: 5rem;*/
/*    margin-left: 6em;*/
/*}*/
/*#text {*/
/*    padding: 0;*/
/*    margin-left: 7em;*/
/*}*/